<% provide(:title, "Editando #{t(:block)}") %>

<header class="flex flex-col-reverse md:items-center md:flex-row border-b border-white/5 py-4 sm:py-6 mb-2 md:mb-4">
  <div class="sm:flex-auto">
    <h1 class="leading-6 text-xl font-medium"><%= "#{t(:editing)} #{t(:block)}" %></h1>
    </div>
  <nav class="my-4 flex gap-4 text-sm">
    <%= link_to admin_blocks_path, class: 'btn-xs danger' do %>
      <i class="fa-solid fa-arrow-left pr-1"></i> Regresar
    <% end %>
  </nav>
</header>

<%= render 'form', block: @block %>