h1, h2, h3, h4, h5, h6 {
    font-family: 'Hubot Sans', sans-serif;
    font-variation-settings: "wght" 900, "wdth" 125;
    line-height: 1;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    max-width: 60ch;
    @apply leading-snug;
}

/* stroked-text */

.stroked[data-text] {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color);
    @apply relative z-0
}
.stroked[data-text]::before {
    content: attr(data-text);
    color: var(--bg-color);
    -webkit-text-stroke-width: 0;
    @apply absolute left-0 top-0 z-10 w-full;
}

.stroked-error[data-text] {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-light);
    @apply relative z-0;
}
.stroked-error[data-text]::before {
    content: attr(data-text);
    color: var(--color-red);
    -webkit-text-stroke-width: 0;
    @apply absolute left-0 top-0 z-10 w-full;
}