h1, h2, h3, h4, h5, h6 {
    font-family: 'Hubot Sans', sans-serif;
    font-variation-settings: "wght" 900, "wdth" 125;
    @apply leading-none
}

h1 {
    font-size: min(12vw, 4em);
}

h2 {
    font-size: min(10vw, 3.5em);
}

h3 {
    font-size: min(8vw, 3em);
}

h4 {
    font-size: min(6vw, 2.5em);
}

p {
    max-width: 60ch;
    @apply leading-snug;
}