<nav class="flex flex-1 flex-col">
    <ul role="list" class="flex flex-1 flex-col gap-y-7 text-light-700 anton neue-haas uppercase">
        <li>
            <ul role="list" class="-mx-2 space-y-1">
                <% render "admin/layout/nav_link", text: "Banners", url: "/admin/banners", icon: "fa-solid fa-rectangle-ad", active: params[:controller] == 'admin/banners' %>
                <% render "admin/layout/nav_link", text: "Cotizaciones", url: "/admin/quotations", icon: "fa-solid fa-star", active: params[:controller] == 'admin/quotations' %>
                <%= render "admin/layout/nav_link", text: "Programas", url: "/admin/programs", icon: "fa-solid fa-book", active: params[:controller] == 'admin/programs' %>
                <%=  render "admin/layout/nav_link", text: "Cerrar Sesión", url: destroy_user_session_path, icon: "fa-solid fa-person-running", active: false %>
            </ul>
        </li>
        <!-- <li>
            <h2 class="text-xs font-semibold leading-6 text-gray-400">Admin</h2>
            <ul role="list" class="-mx-2 mt-2 space-y-1">
                <% render "admin/layout/nav_link", text: "Errores", url: "/admin/pages?category=errors", icon: "fa-solid fa-bug", active: params[:controller] == 'admin/pages' && params[:category] == "errors" %>
                <% render "admin/layout/nav_link", text: "Administradores", url: "/admin/users", icon: "fa-solid fa-users", active: params[:controller] == 'admin/users' %>
                <% render "admin/layout/nav_link", text: "Actualizar", url: "/admin/profile", icon: "fa-solid fa-user-gear", active: false %>
            </ul>
        </li>
        <li>
            <h2 class="text-xs font-semibold leading-6 text-gray-400">Usuario</h2>
            <ul role="list" class="-mx-2 mt-2 space-y-1">
                <%  render "admin/layout/nav_link", text: "Cerrar Sesión", url: destroy_user_session_path, icon: "fa-solid fa-person-running", active: false %>
            </ul>
        </li> -->
    </ul>
</nav>