<div class="grid grid-cols-2 gap-4">
    <div class="w-full">
        <%= render "components/label", f: f, name: :reference_material, text: t(:reference_material), icon: "fas fa-align-left" %>
        <div class="editor-container text-black text-sm">
            <%= render "components/input", f: f, input_type: :text_area, name: :reference_material %>
        </div>
    </div>
    <div class="w-full">
        <%= render "components/label", f: f, name: :credits_and_sources, text: t(:credits_and_sources), icon: "fas fa-align-left" %>
        <div class="editor-container text-black text-sm">
            <%= render "components/input", f: f, input_type: :text_area, name: :credits_and_sources %>
        </div>
    </div>
</div>