label {
    @apply block py-1 w-full text-sm font-medium leading-6 text-white;
}

input[type="submit"] {
    @apply bg-dark-900 hover:bg-dark-800/50 flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm !cursor-pointer transition-colors;
    /* @apply dark:bg-primary-400/10 dark:text-primary-400 dark:ring-1 dark:ring-inset dark:ring-primary-400/20 dark:hover:bg-primary-400/10 dark:hover:text-primary-300 dark:hover:ring-primary-300; */
}

input[type="checkbox"] {
    @apply h-4 w-4 rounded border-gray-300 text-dark-600 focus:ring-dark-600 bg-dark-800 inline;
}
