:root {
    --font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --font-family: "Avenir", "Avenir Fallback", var(--font-fallback);
    --font-title: 'Anton', 'Anton Fallback', var(--font-fallback);
    --font-subtitle: 'Neue Haas', var(--font-fallback);
    --bg-color: #101010;
    --white: #fff;
    --yellow: #fdc100;
    --blue: #0073e6;
    --orange: #f23b22;
    --green: #22f225;
    --black: #000;
}