<% if object.errors.full_messages.any? || flash.any? %>
  <div class="py-2">
    <h3 class="text-sm font-medium text-red-500"><%= t(:submission_errors) %></h3>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% flash.each do |t, msg| %>
          <li class="text-sm/6"><%= msg %></li>
      <% end %>
      <%
        flash.delete(:notice)
        flash.discard
        flash.clear
      %>
    </ul>
  </div>
<% end %>