<div id="preloader" class="items-center fixed w-full h-full bg-blue left-0 top-0 justify-center z-50 hidden">
	<img src="/juanfuent.es.c-symbol.svg" alt="JuanFuent.es [Cabrera Symbol]" width="42" height="42" class='w-20 h-auto'>
</div>