.ck {
    --scroll-background: #0a0a0a;
    --scroll-foreground: #EDEDED;
}
.ck.ck-editor {
    border: 1px solid #303030;
    background-color: #0a0a0a !important;
}
.ck.ck-toolbar {
    display: inline-block;
    margin: 0 auto;
    background-color: #0a0a0a !important;
    border: 1px solid #303030 !important;
    border-radius: .375rem .375rem 0 0 !important;
    border-width: 1px;
    border-color: rgb(48, 48, 48);
    border-bottom-width: 0 !important;
    border: none!important;
}

.ck.ck-sticky-panel{
    text-align: center;
}

.ck.ck-sticky-panel__content {
    max-width: 840px;
    margin: 0 auto!important;
    width: 100%;
    display: block;
}
.ck.ck-toolbar .ck.ck-toolbar__separator {
    background: #303030 !important;
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    --ck-color-base-border: #303030;
    max-width: 840px;
    margin: 0 auto;
    border: none;
}
.ck.ck-editor__main {
    max-width: 840px;
    margin: 0 auto;
    background-color: #0a0a0a!important;
}
.ck.ck-editor__main>.ck-editor__editable {
    background-color: #0a0a0a !important;
}

.ck.ck-editor .ck-content {
    background-color: #0a0a0a !important;
    position: relative;
    height: calc(100vh - 120px);
}

.fullscreen .ck.ck-editor .ck-content {
    height: calc(100vh - 40px);
}

.ck.ck-content.ck-editor__editable h3 {
    text-align: left;
    font-size: 2em;
    font-family: var(--font-title);
    font-weight: 700;
}

.ck.ck-content.ck-editor__editable h4 {
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5em;
    font-family: var(--font-title);
}

.ck.ck-content.ck-editor__editable figure {
    max-width: 840px;
}

.ck-editor__top {
    position: sticky !important;
    left: 0;
    top: 0;
    width: 100%;
}

a.ck.ck-button,
.ck.ck-button {
    cursor: pointer;
    color: #FFF !important;
    transition: all 150ms ease !important;
    cursor: pointer !important;
}

.ck-reset_all {
    position: relative;
    z-index: 1;
}

.ck-content .image>figcaption {
    background-color: #0a0a0a !important;
    color: rgba(255, 255, 255, .8) !important;
}
.ck-content .image>img {
    max-width: 90%!important;
}

button.ck.ck-button.ck-heading_paragraph,
button.ck.ck-button.ck-heading_heading2 {
    background-color: #0a0a0a !important;
    color: rgba(255, 255, 255, .8) !important;
}

/* &:hover {
    color: var(--primary-color)!important;
} */

.ck.ck-reset_all,
.ck.ck-reset_all * {
    color: inherit;
}

.ck.ck-button.ck-on,
a.ck.ck-button.ck-on,
.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover {
    background-color: #181717 !important;
    color: #FFF !important;
}

.ck.ck-labeled-field-view>.ck.ck-labeled-field-view__input-wrapper>.ck.ck-label,
.ck.ck-input,
.ck.ck-list {
    background-color: #0a0a0a !important;
}

.ck.ck-button.ck-on,
a.ck.ck-button.ck-on {
    background: rgba(0, 255, 210, .6);
    color: #0a0a0a;
}

.ck.ck-input.ck-input-text {
    color: #FFF;
}

.ck {
    --ck-color-text: #FFF;
    --ck-color-panel-background: #0a0a0a;
    --ck-color-link-default: #FFF;
}

.ck.ck-balloon-panel[class*=arrow_n]:after {
    border-color: transparent transparent #0a0a0a transparent;
}

.ck-body-wrapper ul {
    padding: .35em 1em;
}

.ck.ck-media-form {
    background-color: var(--ck-color-panel-background) !important;
}