<article>
    <h1 class="uppercase mb-4">Not <span class="inline-block stroked stroked-error" data-text="Found">Found</span></h1>
    <p class="pr-4">La página que buscas no ha sido encontrada, ha sido movida o eliminada</p>
  </article>