<article>
    <h1 class="uppercase mb-4"><span class="inline-block stroked stroked-error" data-text="Server">Server</span> <span class="block">Error 500</span></h1>
    <p class="pr-4">Ha ocurrido un error en servidor. Regresa más tarde.</p>
</article>