/*
* Buttons
* @extends from component: .btn # @see application.tailwind.css#components.btn
* @more: https://tailwindui.com/components/application-ui/elements/buttons 
*/
.btn-base {
    @apply anton flex-none font-normal ring-2 ring-inset duration-150 transition-all cursor-pointer uppercase flex items-center;
    @apply text-dark bg-yellow ring-black border-black border-2;
    box-shadow: 0px 0px 0px black;
}
.btn-base:hover {
    box-shadow: 0px 2px 0px black;
}
.disabled {
    @apply !text-dark-400 !bg-dark hover:!bg-dark hover:!text-light !ring-dark-400/20 cursor-not-allowed;
}
.danger {
    @apply !bg-red ring-red-400/20 hover:!bg-dark hover:!text-red hover:!ring-red-600;
}
.info {
    @apply !bg-light ring-light-400/20 hover:!bg-dark hover:!text-light hover:!ring-light-600;
}
.success {
    @apply !bg-green ring-green-400/20 hover:!bg-dark hover:!text-green hover:!ring-green-600;
}
.btn-tag {
    @apply inline-block font-thin duration-300 md:hover:duration-150 transition-all cursor-pointer;
    @apply bg-yellow text-black hover:bg-black hover:text-yellow ring-1 ring-inset ring-transparent hover:ring-yellow;
    @apply my-1 px-2 py-1 text-xs rounded-2xl border border-gray font-semibold;
}
.btn-xs {
    @apply btn-base px-2 py-1 text-xs rounded-lg;
}
.btn-sm {
    @apply btn-base px-3 py-1.5 text-sm rounded-xl;
}
.btn {
    @apply btn-base px-4 py-2 text-base rounded-2xl;
}
.btn-circle {
    @apply btn-base p-2 rounded-full text-xl;
}

.btn-circle i, .btn-circle svg {
    @apply duration-500;
}

.btn-circle:hover i, .btn-circle:hover svg {
    @apply transition-transform duration-300 scale-90;
}

.btn-circle:hover {
    transform: translateY(-1px);
}
.btn-lg {
    @apply btn-base px-6 py-3 text-lg rounded-3xl;
}