<li>
  <a href="<%= url %>" class="transition flex gap-x-3 rounded-md p-2 text-sm font-medium leading-6 <%= active ? 'bg-neutral-800 text-yellow' : 'hover:bg-neutral-800 hover:text-light' %>">
    <i class="flex h-6 w-6 shrink-0 items-center justify-center <%= icon %>"></i> <%= text %>
  </a>
</li>