<section class="w-full mx-auto max-w-xl">
  <%= form_for [:admin, user], local: true do |f| %>
    <%= render "admin/shared/errors", object: user %>

    <div class="w-full">
      <%= f.label :email, "*#{t(:email)}" %>
      <%= f.email_field :email, placeholder: "tu@email.com", class: "input" %>
    </div>
  
    <footer class="w-full mt-4 text-right sticky left-0 bottom-0 py-2 z-30 flex items-center  justify-end border-t border-black/10">
      <button type="submit" data-disable-with="Guardando..." class="btn-sm">
        <i class="fas fa-save pr-2"></i> Guardar
      </button>
    </footer>
  <% end %>
</section>