<header class="mx-auto w-full max-w-6xl flex justify-between md:px-6 lg:px-8 py-4 md:py-8 gap-2 items-center">
	<a href="/" aria-label="Inicio" class="md:flex-row md:order-1 md:mt-0">
		<img src="/juanfuent.es.c-symbol.svg" alt="JuanFuent.es [Cabrera Symbol]" width="42" height="42">
	</a>
	<!-- <nav class="flex flex-row justify-center uppercase gap-x-6 md:order-2 font-sans font-semibold">
		<a href="https://instagram.com/JuanFuent.es" aria-label="JuanFuent.es on Instagram">
			Projects
		</a>
	</nav> -->
</header>